.header {height: 40px; background-color: #BADAE8; color: #FFF; font-family: Helvetica; font-size:2em; padding: 10px 20px; margin: 5px;}
.wrapper {margin: 0px 20px; display: none;}
.center {text-align: center;}
.dice-rolls-frame {margin: 25px; height:auto;}
.roll {float: left; padding: 10px; width: 50px; text-align: center;}
.roll-row {clear: left;}
.error {color: red;}

.likert { text-align:center; }
.likert td { width: 70px; }


	
